
Project 1 Part 3

In [2]:
#imports
from __future__ import division
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import pylab as pl
import numpy as np
import sklearn as sklearn
from sklearn.decomposition import PCA
from sklearn import metrics
from scipy import stats
import seaborn as sns
sns.set(color_codes=True)
%matplotlib inline

In [3]:
##read in the data 
## print data head
df=pd.read_csv('/Users/Annmarie/Downloads/orange_small_train/orange_small_train.data',header=0,delimiter='\t')
dfa=pd.read_csv('/Users/Annmarie/Downloads/orange_small_train_appetency.labels.txt',header=0,delimiter='\t')
dfa.head()
df.head()
resulta = pd.concat([df, dfa], axis=1)
print resulta.head()

   Var1  Var2  Var3  Var4  Var5    Var6  Var7  Var8  Var9  Var10 ...   \
0   NaN   NaN   NaN   NaN   NaN  1526.0   7.0   NaN   NaN    NaN ...
1   NaN   NaN   NaN   NaN   NaN   525.0   0.0   NaN   NaN    NaN ...
2   NaN   NaN   NaN   NaN   NaN  5236.0   7.0   NaN   NaN    NaN ...
3   NaN   NaN   NaN   NaN   NaN     NaN   0.0   NaN   NaN    NaN ...
4   NaN   NaN   NaN   NaN   NaN  1029.0   7.0   NaN   NaN    NaN ...

    Var222      Var223  Var224  Var225  Var226   Var227         Var228  \
0  fXVEsaq  jySVZNlOJy     NaN     NaN    xb3V     RAYp  F2FyR07IdsN7I
1  2Kb5FSF  LM8l689qOp     NaN     NaN    fKCe     RAYp  F2FyR07IdsN7I
2  NKv4yOc  jySVZNlOJy     NaN    kG3k    Qu4f  02N6s8f  ib5G6X1eUxUn6
3  CE7uk3u  LM8l689qOp     NaN     NaN    FSa2     RAYp  F2FyR07IdsN7I
4  1J2cvxe  LM8l689qOp     NaN    kG3k    FSa2     RAYp  F2FyR07IdsN7I

   Var229  Var230   -1
0     NaN     NaN -1.0
1     NaN     NaN -1.0
2    am7c     NaN -1.0
3     NaN     NaN -1.0
4    mj86     NaN -1.0

[5 rows x 231 columns]

In [4]:
## data count and shape
## lots of missing data is present, it will be necessary to clean the data heavily and delete variables with too many missing values
print resulta.shape 
print resulta.count

(50000, 231)
<bound method DataFrame.count of        Var1  Var2  Var3  Var4  Var5    Var6  Var7  Var8  Var9  Var10 ...   \
0       NaN   NaN   NaN   NaN   NaN  1526.0   7.0   NaN   NaN    NaN ...
1       NaN   NaN   NaN   NaN   NaN   525.0   0.0   NaN   NaN    NaN ...
2       NaN   NaN   NaN   NaN   NaN  5236.0   7.0   NaN   NaN    NaN ...
3       NaN   NaN   NaN   NaN   NaN     NaN   0.0   NaN   NaN    NaN ...
4       NaN   NaN   NaN   NaN   NaN  1029.0   7.0   NaN   NaN    NaN ...
5       NaN   NaN   NaN   NaN   NaN   658.0   7.0   NaN   NaN    NaN ...
6       NaN   NaN   NaN   NaN   NaN  1680.0   7.0   NaN   NaN    NaN ...
7       NaN   NaN   NaN   NaN   NaN    77.0   0.0   NaN   NaN    NaN ...
8       NaN   NaN   NaN   NaN   NaN  1176.0   7.0   NaN   NaN    NaN ...
9       NaN   NaN   NaN   NaN   NaN  1141.0   7.0   NaN   NaN    NaN ...
10      NaN   NaN   NaN   NaN   NaN   490.0   7.0   NaN   NaN    NaN ...
11      NaN   NaN   NaN   NaN   NaN   798.0  14.0   NaN   NaN    NaN ...
12      NaN   NaN   NaN   NaN   NaN   595.0   0.0   NaN   NaN    NaN ...
13      NaN   NaN   NaN   NaN   NaN  2268.0   0.0   NaN   NaN    NaN ...
14      NaN   NaN   NaN   NaN   NaN  3633.0   7.0   NaN   NaN    NaN ...
15      NaN   NaN   NaN   NaN   NaN   259.0   0.0   NaN   NaN    NaN ...
16      NaN   NaN   NaN   NaN   NaN  5152.0   7.0   NaN   NaN    NaN ...
17      NaN   NaN   NaN   NaN   NaN  1449.0   7.0   NaN   NaN    NaN ...
18      NaN   NaN   NaN   NaN   NaN   574.0   7.0   NaN   NaN    NaN ...
19      NaN   NaN   NaN   NaN   NaN   658.0   7.0   NaN   NaN    NaN ...
20      NaN   NaN   NaN   NaN   NaN   245.0   0.0   NaN   NaN    NaN ...
21      NaN   NaN   NaN   NaN   NaN    14.0   0.0   NaN   NaN    NaN ...
22      NaN   NaN   NaN   NaN   NaN   826.0   0.0   NaN   NaN    NaN ...
23      NaN   NaN   NaN   NaN   NaN   854.0   7.0   NaN   NaN    NaN ...
24      NaN   NaN   NaN   NaN   NaN  1218.0   7.0   NaN   NaN    NaN ...
25      NaN   NaN   NaN   NaN   NaN  1043.0   7.0   NaN   NaN    NaN ...
26      NaN   NaN   NaN   0.0   NaN     NaN   NaN   NaN   NaN    NaN ...
27      NaN   NaN   NaN   NaN   NaN  1533.0   7.0   NaN   NaN    NaN ...
28      NaN   NaN   NaN   NaN   NaN   161.0   0.0   NaN   NaN    NaN ...
29      NaN   NaN   NaN   NaN   NaN    63.0   0.0   NaN   NaN    NaN ...
...     ...   ...   ...   ...   ...     ...   ...   ...   ...    ... ...
49970   NaN   NaN   NaN   NaN   NaN   154.0   0.0   NaN   NaN    NaN ...
49971   NaN   0.0   0.0   NaN   NaN     NaN   NaN   NaN   NaN    NaN ...
49972   NaN   NaN   NaN   NaN   NaN   714.0   7.0   NaN   NaN    NaN ...
49973   NaN   NaN   NaN   NaN   NaN  1841.0   7.0   NaN   NaN    NaN ...
49974   NaN   NaN   NaN   NaN   NaN  6671.0   7.0   NaN   NaN    NaN ...
49975   NaN   NaN   NaN   NaN   NaN   511.0   7.0   NaN   NaN    NaN ...
49976   NaN   NaN   NaN   NaN   NaN  1470.0  14.0   NaN   NaN    NaN ...
49977   NaN   NaN   NaN   NaN   NaN   945.0   7.0   NaN   NaN    NaN ...
49978   NaN   NaN   NaN   NaN   NaN   420.0   7.0   NaN   NaN    NaN ...
49979   NaN   NaN   NaN   NaN   NaN     NaN   0.0   NaN   NaN    NaN ...
49980   NaN   NaN   NaN   NaN   NaN  1302.0   7.0   NaN   NaN    NaN ...
49981   NaN   NaN   NaN   NaN   NaN  6853.0   7.0   NaN   NaN    NaN ...
49982   NaN   NaN   NaN   NaN   NaN   546.0   0.0   NaN   NaN    NaN ...
49983   NaN   NaN   NaN   NaN   NaN  1211.0   NaN   NaN   NaN    NaN ...
49984   NaN   NaN   NaN   NaN   NaN   882.0   7.0   NaN   NaN    NaN ...
49985   NaN   NaN   NaN   NaN   NaN     0.0   0.0   NaN   NaN    NaN ...
49986   NaN   NaN   NaN   NaN   NaN  1778.0   NaN   NaN   NaN    NaN ...
49987   NaN   NaN   NaN   NaN   NaN  3577.0   7.0   NaN   NaN    NaN ...
49988   NaN   NaN   NaN   NaN   NaN     0.0   0.0   NaN   NaN    NaN ...
49989   NaN   NaN   NaN   NaN   NaN   819.0   7.0   NaN   NaN    NaN ...
49990   NaN   NaN   NaN   NaN   NaN  1456.0  14.0   NaN   NaN    NaN ...
49991   NaN   NaN   NaN   NaN   NaN  1981.0   0.0   NaN   NaN    NaN ...
49992   NaN   NaN   NaN   NaN   NaN  1295.0   7.0   NaN   NaN    NaN ...
49993   NaN   NaN   NaN   NaN   NaN  2226.0   7.0   NaN   NaN    NaN ...
49994   NaN   NaN   NaN   NaN   NaN   266.0   0.0   NaN   NaN    NaN ...
49995   NaN   NaN   NaN   NaN   NaN   357.0   0.0   NaN   NaN    NaN ...
49996   NaN   NaN   NaN   NaN   NaN  1078.0   0.0   NaN   NaN    NaN ...
49997   NaN   NaN   NaN   NaN   NaN  2807.0   7.0   NaN   NaN    NaN ...
49998   NaN   NaN   NaN   0.0   NaN     NaN   NaN   NaN   NaN    NaN ...
49999   NaN   NaN   NaN   NaN   NaN  1694.0   7.0   NaN   NaN    NaN ...

        Var222      Var223  Var224  Var225  Var226   Var227  \
0      fXVEsaq  jySVZNlOJy     NaN     NaN    xb3V     RAYp
1      2Kb5FSF  LM8l689qOp     NaN     NaN    fKCe     RAYp
2      NKv4yOc  jySVZNlOJy     NaN    kG3k    Qu4f  02N6s8f
3      CE7uk3u  LM8l689qOp     NaN     NaN    FSa2     RAYp
4      1J2cvxe  LM8l689qOp     NaN    kG3k    FSa2     RAYp
5      QqVuch3  LM8l689qOp     NaN     NaN    Qcbd  02N6s8f
6      XlgxB9z  LM8l689qOp     NaN    kG3k    FSa2     RAYp
7      R2LdzOv         NaN     NaN     NaN    FSa2     RAYp
8      K2SqEo9  jySVZNlOJy     NaN    kG3k    PM2D     6fzt
9      EPqQcw6  LM8l689qOp     NaN    kG3k    FSa2     RAYp
10     catzS2D  LM8l689qOp     NaN    kG3k    WqMG     ZI9m
11     VWtIBQt  LM8l689qOp     NaN    kG3k    FSa2     RAYp
12     WfsWw2A  LM8l689qOp     NaN     NaN    me1d     ZI9m
13     QKXEsaq  LM8l689qOp     NaN    xG3x    Qu4f     RAYp
14     kYwEsaq  LM8l689qOp     NaN     NaN    PM2D     RAYp
15     IIvQguc  LM8l689qOp     NaN    ELof    Qu4f     RAYp
16     WfsWw2A  jySVZNlOJy     NaN    kG3k    FSa2     ZI9m
17     catzS2D  LM8l689qOp     NaN     NaN    WqMG     ZI9m
18     DQ3iZDY  jySVZNlOJy     NaN    kG3k    FSa2     RAYp
19     VQZzrB7  LM8l689qOp     NaN     NaN    5Acm     RAYp
20     UbjqFbB  LM8l689qOp     NaN     NaN    TNEC     RAYp
21     1gu2qo0         NaN     NaN     NaN    FSa2     RAYp
22     9JvQQMs  LM8l689qOp     NaN    ELof    453m     RAYp
23     rUj52Lp  jySVZNlOJy     NaN     NaN    WqMG     RAYp
24     ag5iNPX  jySVZNlOJy     NaN    xG3x    fKCe     RAYp
25     CmhRjAG  LM8l689qOp     NaN     NaN    fKCe  nIGXDli
26     nytT3Cb         NaN     NaN     NaN    FSa2     RAYp
27     IhKskzO  LM8l689qOp     NaN    kG3k    Xa3G     RAYp
28     DNvRusu         NaN     NaN     NaN    me1d     RAYp
29     e7bTQlu  LM8l689qOp     NaN     NaN    TNEC     RAYp
...        ...         ...     ...     ...     ...      ...
49970  _sz_44J  LM8l689qOp     NaN     NaN    fKCe     RAYp
49971  cObaF5M         NaN    4n2X     NaN    FSa2     RAYp
49972  rH0P_83  LM8l689qOp     NaN    kG3k    szEZ     RAYp
49973  catzS2D  LM8l689qOp     NaN    ELof    Qcbd     ZI9m
49974  alU2fT4  LM8l689qOp     NaN    ELof    453m     RAYp
49975  UP3EVaf  LM8l689qOp     NaN    ELof    Qu4f     RAYp
49976  catzS2D  LM8l689qOp     NaN    ELof    kwS7     ZI9m
49977  catzS2D  LM8l689qOp     NaN    ELof    Aoh3     ZI9m
49978  dXi2qo0  LM8l689qOp     NaN    ELof    FSa2     RAYp
49979  mh7QQMs  LM8l689qOp     NaN     NaN    xb3V     RAYp
49980  catzS2D  LM8l689qOp     NaN    ELof    xb3V     ZI9m
49981  iQJ2C8o  LM8l689qOp     NaN    ELof    wX53     RAYp
49982  RkjqJRo  LM8l689qOp     NaN     NaN    7P5s     RAYp
49983  rT1Esaq  LM8l689qOp     NaN     NaN    xb3V     RAYp
49984  APgdzOv  LM8l689qOp     NaN    kG3k    WqMG     6fzt
49985  cObCBw5        M_8D     NaN    kG3k    FSa2     RAYp
49986  MRPKMwm  jySVZNlOJy     NaN    ELof    Qu4f     RAYp
49987  c4R2fT4  LM8l689qOp     NaN    kG3k    TNEC     RAYp
49988  BULTE6Y  LM8l689qOp     NaN     NaN    7P5s     RAYp
49989  bIKwXmR  LM8l689qOp     NaN    kG3k    FSa2     RAYp
49990  E8Sj7qz  jySVZNlOJy     NaN    kG3k    7P5s     RAYp
49991  NbpqwxB  LM8l689qOp     NaN     NaN    WqMG     RAYp
49992  SiXzrB7  LM8l689qOp     NaN    ELof    Qcbd     RAYp
49993  Vo68gbh  LM8l689qOp     NaN     NaN    fKCe     RAYp
49994  dclJEx2  LM8l689qOp     NaN     NaN    xb3V     RAYp
49995  EROH7Cg  LM8l689qOp     NaN     NaN    7FJQ     RAYp
49996  GfSQowC  LM8l689qOp     NaN    kG3k    FSa2     RAYp
49997  dh6qI2t  LM8l689qOp     NaN    ELof    fKCe     RAYp
49998  2fF2Oqu  LM8l689qOp     NaN     NaN    FSa2     RAYp
49999  IIvC99a  LM8l689qOp     NaN     NaN    xb3V     RAYp

                       Var228  Var229  Var230   -1
0               F2FyR07IdsN7I     NaN     NaN -1.0
1               F2FyR07IdsN7I     NaN     NaN -1.0
2               ib5G6X1eUxUn6    am7c     NaN -1.0
3               F2FyR07IdsN7I     NaN     NaN -1.0
4               F2FyR07IdsN7I    mj86     NaN -1.0
5                     Zy3gnGM    am7c     NaN -1.0
6                     55YFVY9    am7c     NaN -1.0
7               F2FyR07IdsN7I     NaN     NaN -1.0
8      am14IcfM7tWLrUmRT52KtA    am7c     NaN -1.0
9                     55YFVY9     NaN     NaN -1.0
10              ib5G6X1eUxUn6    mj86     NaN -1.0
11              F2FyR07IdsN7I     NaN     NaN -1.0
12                 iyHGyLCEkQ    mj86     NaN -1.0
13              F2FyR07IdsN7I     NaN     NaN -1.0
14              F2FyR07IdsN7I     NaN     NaN -1.0
15                    55YFVY9    oJmt     NaN -1.0
16                 iyHGyLCEkQ    am7c     NaN -1.0
17              ib5G6X1eUxUn6    am7c     NaN -1.0
18              F2FyR07IdsN7I     NaN     NaN -1.0
19              F2FyR07IdsN7I     NaN     NaN -1.0
20              F2FyR07IdsN7I     NaN     NaN -1.0
21              F2FyR07IdsN7I     NaN     NaN -1.0
22              F2FyR07IdsN7I    mj86     NaN -1.0
23              F2FyR07IdsN7I     NaN     NaN -1.0
24              F2FyR07IdsN7I     NaN     NaN -1.0
25              F2FyR07IdsN7I     NaN     NaN -1.0
26              F2FyR07IdsN7I     NaN     NaN -1.0
27              F2FyR07IdsN7I    mj86     NaN -1.0
28                    55YFVY9    am7c     NaN -1.0
29              F2FyR07IdsN7I     NaN     NaN -1.0
...                       ...     ...     ...  ...
49970           F2FyR07IdsN7I     NaN     NaN  1.0
49971           F2FyR07IdsN7I     NaN     NaN  1.0
49972           F2FyR07IdsN7I    mj86     NaN -1.0
49973                    VjDE     NaN     NaN -1.0
49974           F2FyR07IdsN7I     NaN     NaN -1.0
49975           F2FyR07IdsN7I     NaN     NaN -1.0
49976           ib5G6X1eUxUn6    mj86     NaN -1.0
49977           ib5G6X1eUxUn6    mj86     NaN -1.0
49978           F2FyR07IdsN7I    am7c     NaN -1.0
49979           F2FyR07IdsN7I     NaN     NaN -1.0
49980                    VjDE    am7c     NaN -1.0
49981           F2FyR07IdsN7I     NaN     NaN -1.0
49982           F2FyR07IdsN7I     NaN     NaN -1.0
49983           F2FyR07IdsN7I     NaN     NaN -1.0
49984           xwM2aC7IdeMC0     NaN     NaN -1.0
49985                 55YFVY9     NaN     NaN -1.0
49986           F2FyR07IdsN7I    am7c     NaN -1.0
49987           F2FyR07IdsN7I     NaN     NaN -1.0
49988           F2FyR07IdsN7I     NaN     NaN -1.0
49989           F2FyR07IdsN7I    am7c     NaN -1.0
49990                 55YFVY9    mj86     NaN -1.0
49991           F2FyR07IdsN7I     NaN     NaN -1.0
49992           F2FyR07IdsN7I    mj86     NaN -1.0
49993           F2FyR07IdsN7I     NaN     NaN -1.0
49994           F2FyR07IdsN7I     NaN     NaN  1.0
49995           F2FyR07IdsN7I     NaN     NaN  1.0
49996                 55YFVY9    am7c     NaN -1.0
49997     TCU50_Yjmm6GIBZ0lL_     NaN     NaN -1.0
49998           F2FyR07IdsN7I     NaN     NaN -1.0
49999           F2FyR07IdsN7I     NaN     NaN  NaN

[50000 rows x 231 columns]>

In [8]:
##drop any coll. where all values are 0 
df_clean=resulta.dropna(axis=1, how='all', thresh=None, subset=None)
df_clean.head()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var9,Var10,Var11,...,Var221,Var222,Var223,Var224,Var225,Var226,Var227,Var228,Var229,-1
0,NaN,NaN,NaN,NaN,NaN,1526.0,7.0,NaN,NaN,NaN,...,oslk,fXVEsaq,jySVZNlOJy,NaN,NaN,xb3V,RAYp,F2FyR07IdsN7I,NaN,-1.0
1,NaN,NaN,NaN,NaN,NaN,525.0,0.0,NaN,NaN,NaN,...,oslk,2Kb5FSF,LM8l689qOp,NaN,NaN,fKCe,RAYp,F2FyR07IdsN7I,NaN,-1.0
2,NaN,NaN,NaN,NaN,NaN,5236.0,7.0,NaN,NaN,NaN,...,Al6ZaUT,NKv4yOc,jySVZNlOJy,NaN,kG3k,Qu4f,02N6s8f,ib5G6X1eUxUn6,am7c,-1.0
3,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,oslk,CE7uk3u,LM8l689qOp,NaN,NaN,FSa2,RAYp,F2FyR07IdsN7I,NaN,-1.0
4,NaN,NaN,NaN,NaN,NaN,1029.0,7.0,NaN,NaN,NaN,...,oslk,1J2cvxe,LM8l689qOp,NaN,kG3k,FSa2,RAYp,F2FyR07IdsN7I,mj86,-1.0

In [9]:
##print number of null values 
def num_missing(x):
  return (x.isnull())
print df_clean.apply(num_missing, axis=0)

       Var1   Var2   Var3   Var4  Var5   Var6   Var7  Var9 Var10  Var11  \
0      True   True   True   True  True  False  False  True  True   True
1      True   True   True   True  True  False  False  True  True   True
2      True   True   True   True  True  False  False  True  True   True
3      True   True   True   True  True   True  False  True  True   True
4      True   True   True   True  True  False  False  True  True   True
5      True   True   True   True  True  False  False  True  True   True
6      True   True   True   True  True  False  False  True  True   True
7      True   True   True   True  True  False  False  True  True   True
8      True   True   True   True  True  False  False  True  True   True
9      True   True   True   True  True  False  False  True  True   True
10     True   True   True   True  True  False  False  True  True   True
11     True   True   True   True  True  False  False  True  True   True
12     True   True   True   True  True  False  False  True  True   True
13     True   True   True   True  True  False  False  True  True   True
14     True   True   True   True  True  False  False  True  True   True
15     True   True   True   True  True  False  False  True  True   True
16     True   True   True   True  True  False  False  True  True   True
17     True   True   True   True  True  False  False  True  True   True
18     True   True   True   True  True  False  False  True  True   True
19     True   True   True   True  True  False  False  True  True   True
20     True   True   True   True  True  False  False  True  True   True
21     True   True   True   True  True  False  False  True  True   True
22     True   True   True   True  True  False  False  True  True   True
23     True   True   True   True  True  False  False  True  True   True
24     True   True   True   True  True  False  False  True  True   True
25     True   True   True   True  True  False  False  True  True   True
26     True   True   True  False  True   True   True  True  True   True
27     True   True   True   True  True  False  False  True  True   True
28     True   True   True   True  True  False  False  True  True   True
29     True   True   True   True  True  False  False  True  True   True
...     ...    ...    ...    ...   ...    ...    ...   ...   ...    ...
49970  True   True   True   True  True  False  False  True  True   True
49971  True  False  False   True  True   True   True  True  True  False
49972  True   True   True   True  True  False  False  True  True   True
49973  True   True   True   True  True  False  False  True  True   True
49974  True   True   True   True  True  False  False  True  True   True
49975  True   True   True   True  True  False  False  True  True   True
49976  True   True   True   True  True  False  False  True  True   True
49977  True   True   True   True  True  False  False  True  True   True
49978  True   True   True   True  True  False  False  True  True   True
49979  True   True   True   True  True   True  False  True  True   True
49980  True   True   True   True  True  False  False  True  True   True
49981  True   True   True   True  True  False  False  True  True   True
49982  True   True   True   True  True  False  False  True  True   True
49983  True   True   True   True  True  False   True  True  True   True
49984  True   True   True   True  True  False  False  True  True   True
49985  True   True   True   True  True  False  False  True  True   True
49986  True   True   True   True  True  False   True  True  True   True
49987  True   True   True   True  True  False  False  True  True   True
49988  True   True   True   True  True  False  False  True  True   True
49989  True   True   True   True  True  False  False  True  True   True
49990  True   True   True   True  True  False  False  True  True   True
49991  True   True   True   True  True  False  False  True  True   True
49992  True   True   True   True  True  False  False  True  True   True
49993  True   True   True   True  True  False  False  True  True   True
49994  True   True   True   True  True  False  False  True  True   True
49995  True   True   True   True  True  False  False  True  True   True
49996  True   True   True   True  True  False  False  True  True   True
49997  True   True   True   True  True  False  False  True  True   True
49998  True   True   True  False  True   True   True  True  True   True
49999  True   True   True   True  True  False  False  True  True   True

       ...   Var221 Var222 Var223 Var224 Var225 Var226 Var227 Var228 Var229  \
0      ...    False  False  False   True   True  False  False  False   True
1      ...    False  False  False   True   True  False  False  False   True
2      ...    False  False  False   True  False  False  False  False  False
3      ...    False  False  False   True   True  False  False  False   True
4      ...    False  False  False   True  False  False  False  False  False
5      ...    False  False  False   True   True  False  False  False  False
6      ...    False  False  False   True  False  False  False  False  False
7      ...    False  False   True   True   True  False  False  False   True
8      ...    False  False  False   True  False  False  False  False  False
9      ...    False  False  False   True  False  False  False  False   True
10     ...    False  False  False   True  False  False  False  False  False
11     ...    False  False  False   True  False  False  False  False   True
12     ...    False  False  False   True   True  False  False  False  False
13     ...    False  False  False   True  False  False  False  False   True
14     ...    False  False  False   True   True  False  False  False   True
15     ...    False  False  False   True  False  False  False  False  False
16     ...    False  False  False   True  False  False  False  False  False
17     ...    False  False  False   True   True  False  False  False  False
18     ...    False  False  False   True  False  False  False  False   True
19     ...    False  False  False   True   True  False  False  False   True
20     ...    False  False  False   True   True  False  False  False   True
21     ...    False  False   True   True   True  False  False  False   True
22     ...    False  False  False   True  False  False  False  False  False
23     ...    False  False  False   True   True  False  False  False   True
24     ...    False  False  False   True  False  False  False  False   True
25     ...    False  False  False   True   True  False  False  False   True
26     ...    False  False   True   True   True  False  False  False   True
27     ...    False  False  False   True  False  False  False  False  False
28     ...    False  False   True   True   True  False  False  False  False
29     ...    False  False  False   True   True  False  False  False   True
...    ...      ...    ...    ...    ...    ...    ...    ...    ...    ...
49970  ...    False  False  False   True   True  False  False  False   True
49971  ...    False  False   True  False   True  False  False  False   True
49972  ...    False  False  False   True  False  False  False  False  False
49973  ...    False  False  False   True  False  False  False  False   True
49974  ...    False  False  False   True  False  False  False  False   True
49975  ...    False  False  False   True  False  False  False  False   True
49976  ...    False  False  False   True  False  False  False  False  False
49977  ...    False  False  False   True  False  False  False  False  False
49978  ...    False  False  False   True  False  False  False  False  False
49979  ...    False  False  False   True   True  False  False  False   True
49980  ...    False  False  False   True  False  False  False  False  False
49981  ...    False  False  False   True  False  False  False  False   True
49982  ...    False  False  False   True   True  False  False  False   True
49983  ...    False  False  False   True   True  False  False  False   True
49984  ...    False  False  False   True  False  False  False  False   True
49985  ...    False  False  False   True  False  False  False  False   True
49986  ...    False  False  False   True  False  False  False  False  False
49987  ...    False  False  False   True  False  False  False  False   True
49988  ...    False  False  False   True   True  False  False  False   True
49989  ...    False  False  False   True  False  False  False  False  False
49990  ...    False  False  False   True  False  False  False  False  False
49991  ...    False  False  False   True   True  False  False  False   True
49992  ...    False  False  False   True  False  False  False  False  False
49993  ...    False  False  False   True   True  False  False  False   True
49994  ...    False  False  False   True   True  False  False  False   True
49995  ...    False  False  False   True   True  False  False  False   True
49996  ...    False  False  False   True  False  False  False  False  False
49997  ...    False  False  False   True  False  False  False  False   True
49998  ...    False  False  False   True   True  False  False  False   True
49999  ...    False  False  False   True   True  False  False  False   True

          -1
0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
...      ...
49970  False
49971  False
49972  False
49973  False
49974  False
49975  False
49976  False
49977  False
49978  False
49979  False
49980  False
49981  False
49982  False
49983  False
49984  False
49985  False
49986  False
49987  False
49988  False
49989  False
49990  False
49991  False
49992  False
49993  False
49994  False
49995  False
49996  False
49997  False
49998  False
49999   True

[50000 rows x 213 columns]

In [10]:
def num_missing(x):
  return sum(x.isnull())
print "\nMissing values per row:"
print df_clean.apply(num_missing, axis=1).head()

Missing values per row:
0    144
1    146
2    139
3    154
4    137
dtype: int64

In [11]:
old_names = ['-1'] 
new_names = ['appent']
df_clean.rename(columns=dict(zip(old_names, new_names)), inplace=True)
df_clean.head()

/Users/Annmarie/anaconda/lib/python2.7/site-packages/pandas/core/frame.py:2748: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var9,Var10,Var11,...,Var221,Var222,Var223,Var224,Var225,Var226,Var227,Var228,Var229,appent
0,NaN,NaN,NaN,NaN,NaN,1526.0,7.0,NaN,NaN,NaN,...,oslk,fXVEsaq,jySVZNlOJy,NaN,NaN,xb3V,RAYp,F2FyR07IdsN7I,NaN,-1.0
1,NaN,NaN,NaN,NaN,NaN,525.0,0.0,NaN,NaN,NaN,...,oslk,2Kb5FSF,LM8l689qOp,NaN,NaN,fKCe,RAYp,F2FyR07IdsN7I,NaN,-1.0
2,NaN,NaN,NaN,NaN,NaN,5236.0,7.0,NaN,NaN,NaN,...,Al6ZaUT,NKv4yOc,jySVZNlOJy,NaN,kG3k,Qu4f,02N6s8f,ib5G6X1eUxUn6,am7c,-1.0
3,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,oslk,CE7uk3u,LM8l689qOp,NaN,NaN,FSa2,RAYp,F2FyR07IdsN7I,NaN,-1.0
4,NaN,NaN,NaN,NaN,NaN,1029.0,7.0,NaN,NaN,NaN,...,oslk,1J2cvxe,LM8l689qOp,NaN,kG3k,FSa2,RAYp,F2FyR07IdsN7I,mj86,-1.0

In [ ]:
##get dummies
dfa_dummies= pd.get_dummies(dfa, prefix=None, prefix_sep='_', dummy_na=False)
print dfa_dummies.head()

In [ ]:
##get dummies
df_dummies= pd.get_dummies(df, prefix=None, prefix_sep='_', dummy_na=False)

In [ ]:
resulta = pd.concat([df_dummies, dfa_dummies], axis=1)

In [ ]:
y_train = dfa_dummies
x_train = df_dummies

In [ ]:
import pandas as pd
import xgboost as xgb
import operator
from matplotlib import pylab as plt

def ceate_feature_map(features):
    outfile = open('xgb.fmap', 'w')
    i = 0
    for feat in features:
        outfile.write('{0}\t{1}\tq\n'.format(i, feat))
        i = i + 1

    outfile.close()

def get_data():
    train = resulta

    features = resulta

    y_train = dfa_dummies

    x_train = df_dummies

    return x_train, y_train
features= x_train, y_train

In [ ]:
def ceate_feature_map(features):
        outfile = open('xgb.fmap', 'w')
        i = 0
        for feat in features:
            outfile.write('{0}\t{1}\tq\n'.format(i, feat))
            i = i + 1

In [ ]:
xgb_params = {"objective": "reg:linear", "eta": 0.01, "max_depth": 8, "seed": 42, "silent": 1}
num_rounds = 1000

dtrain = xgb.DMatrix(x_train, label=y_train)
gbdt = xgb.train(xgb_params, dtrain, num_rounds)

importance = gbdt.get_fscore(fmap='xgb.fmap')
importance = sorted(importance.items(), key=operator.itemgetter(1))

In [ ]:
df = pd.DataFrame(importance, columns=['feature', 'fscore'])
df['fscore'] = df['fscore'] / df['fscore'].sum()

plt.figure()
df.plot()
df.plot(kind='barh', x='feature', y='fscore', legend=False, figsize=(6, 10))
plt.title('XGBoost Feature Importance')
plt.xlabel('relative importance')
plt.gcf().savefig('feature_importance_xgb.png')

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(1,1,1)
ax.scatter(df_clean['appent'],df_clean['Var73']) 
plt.show()

#this plot is of a variable with no mossing values and the binary dependent variable of appentency, overall, this doesnt seem to be that valuable of a feuature

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(1,1,1)
ax.scatter(df_clean['appent'],df_clean['Var113']) 
plt.show()

#here we see that variable 113 is likely a better indicator of appetency, with the values for -1 being much more spread than the values for Variable 113

In [ ]:
##Lets play with DS3!